*{margin:0; padding:0; border:0}
*,
*::before,
*::after {
    box-sizing: border-box;
}

.btn{
    height: 60px;
    width: 180px;
    background-color: #7b81a0;
    border: 1px solid black;
}

.meinModal{
    display: none;
}

.meinModalOn{
    display: block;
}

.headClose{
    cursor: pointer;
}

.btn p{
    text-align: center;
    color: white;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
}

.modalWindow{
    width: 600px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    margin: 0 auto;

}

.footer .button{
    height: 25px;
    width: 75px;
    border: solid 1px black;
    text-align: center;
    margin-left: 10px;

}

.modalWindow .head{
    padding: 5px 10px;
    display: flex;
    justify-content:space-between;
}

.modalWindow .body{
    display: flex;
    justify-content:flex-start;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modalWindow .footer {
    display: flex;
    justify-content: flex-end;
}